<h1 class="text-center my-5">Twitter Index</h1>

<% @tweets.each do |f| %>
<div class="card text-center my-5">

       <div class="text-right">
              <span><%= time_ago_in_words(f.created_at) %></span>
       </div>
       
       <img src="<%= f.user.image_url %>"width="70" height="60" class=" mt-4 ml-4" >

       <div class="d-inline">
              <%= f.content %>
       </div>

       <%= link_to "dar like", tweet_path(f.id) %>
       <div class="text-right mr-3 mb-3">
              <% if  f.likes.count == 1 %>
              <p><i class="fas fa-heart"><%= f.likes.count %> <%= ( f.likes.count) == 1 ? "like" : "likes" %></i> </p>
              <%else%>
              <p><i class="far fa-heart"><%= f.likes.count %> <%= ( f.likes.count) == 1 ? "like" : "likes" %></i> </p>
              <%end%>
       </div>

</div>
<%end%>

<div class="row">
       <%#= paginate(@tweets) %>
</div>