
<% @tweet.likes.each do |f| %>
       <div class="card">
              <img src=" <%= f.user.image_url %> " width="80" height="70" class=" d-inline">
              <p class=" d-inline"> <%= f.user.name %> </p>
       </div>
<%end%>

<% pre_like = @tweet.likes.find {|like| like.user_id == current_user.id} %>
       <% if pre_like %>
              <%= button_to "Unlike", tweet_like_path(@tweet, pre_like), method: :delete %>
       <%else%>
              <%= button_to 'Like', tweet_likes_path(@tweet), method: :tweet %>
       <%end%>

<%= button_to 'Retweet', retweet_tweet_path(@tweet.id), method: :post%>

<%= link_to "Atras", root_path %>